*{
	font-size:2vw;
	text-decoration:none;
	box-sizing: border-box;
	padding:0;
	margin:0;
}
#check{
	display:none;
}
body{
	background-color: #0093E9;
	background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23ce5776' x='10' width='11' height='11'/%3E%3Crect fill='%23d05a76' y='10' width='11' height='11'/%3E%3Crect fill='%23d15c75' x='20' width='11' height='11'/%3E%3Crect fill='%23d35f74' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23d46174' y='20' width='11' height='11'/%3E%3Crect fill='%23d66473' x='30' width='11' height='11'/%3E%3Crect fill='%23d76673' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23d96972' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23da6c72' y='30' width='11' height='11'/%3E%3Crect fill='%23db6e71' x='40' width='11' height='11'/%3E%3Crect fill='%23dc7171' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23dd7471' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23de7671' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23df7971' y='40' width='11' height='11'/%3E%3Crect fill='%23e07c71' x='50' width='11' height='11'/%3E%3Crect fill='%23e17e71' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23e28171' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23e38471' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23e38771' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23e48972' y='50' width='11' height='11'/%3E%3Crect fill='%23e58c72' x='60' width='11' height='11'/%3E%3Crect fill='%23e58f73' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23e69173' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23e69474' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23e79775' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23e79a75' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23e89c76' x='70' width='11' height='11'/%3E%3Crect fill='%23e89f77' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23e8a278' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23e9a47a' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23e9a77b' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23e9aa7c' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23e9ac7e' x='80' width='11' height='11'/%3E%3Crect fill='%23eaaf7f' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23eab281' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23eab482' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23eab784' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23eaba86' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23ebbc88' x='90' width='11' height='11'/%3E%3Crect fill='%23ebbf8a' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23ebc18c' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23ebc48e' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23ebc790' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23ebc992' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23ebcc94' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23ebce97' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23ebd199' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ecd39c' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23ecd69e' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23ecd8a1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23ecdba4' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23ecdda6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ece0a9' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23ede2ac' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23ede4af' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23ede7b2' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23ede9b5' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23eeecb8' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23EEB' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	background-attachment: fixed;
}

header{
	width:100%;
	background:#333;
	display:inline-block;
	font-family:verdana,arial;
	position:fixed;
	z-index:1;
}
i{
	font-size:250%;
	color:#fff;
	padding:4px;
}
nav ul{
	list-style-type: none;
	margin-top:12px;
	margin-bottom:5px;
}


nav a{
	color:#fff;
	display:block;
	padding:10px;
}

nav a:hover{
	background:#74c8f750;
	border-radius:4px;
	font-size: 110%;
}
nav a:focus{
	background:#74c8f750;
	border-radius: 4px;
	font-size:110%;
}
.intro{
	width:100%;
	height:100vh;
	background-color: #bbaa99;
	background: url("../img/intro1.jpg") no-repeat;
	background-size: 100% 100%;
	z-index:0;
	font-size:250%;
	color:#fff;
	padding-top:30vh;
	padding-left:38%;
	padding-bottom:20vh;
	font-family: 'Ubuntu', sans-serif;
}
.about img{
	position: relative;
	width:21%;
	height:42vh;
	margin-right: 10px;
	margin-left:12%;
	border:4px solid #aabbcc;
}

.about{
	padding-top:13vh;
	display:flex;
	flex-direction: row;
	flex:1 1 0;
}

.aboutexp{
	position:relative;
	height:33vh;
	width:54%;
	text-align:center;
	margin-bottom: 30px;
}


h2{
	display:block;
	font-family: 'Alata', sans-serif;
	font-size:175%;
	margin-left:20%;
	margin-bottom:30px;
	animation:attract 1s infinite alternate;
	color:#941313;
}

@keyframes attract{
	from{
		letter-spacing:normal;
	}
	to{
		letter-spacing:8px;
	}
}
.skills img{
	width:18%;
	height:28vh;
}
.skills h2{
	margin-bottom: 15vh;
	margin-left: 40%;
	color:#3c1577;
}

#c{
	display:flex;
	flex-direction:row;
	flex:1 1 0;
	justify-content: space-around;
}
#h{
	margin-top: 5vh;
	display:flex;
	flex-direction:row;
	flex:1 1 0;
	justify-content: space-around;
}
#p{
	margin-top:5vh;
	display:flex;
	flex-direction:row;
	flex:1 1 0;
	justify-content: space-around;
}
.projects>p{
	font-family: 'Alata', sans-serif;
	font-size:150%;
	font-weight:bold;
	margin-left:10%;
	width:15%;
	border:1px solid #bbaa99;
	padding-left:4px;
	box-shadow: 4px 4px 20px #040401;
	border-radius: 4px;
	animation: attent 0.75s infinite alternate;
}

@keyframes attent{
	0%{
		letter-spacing: normal;
		width:1%;
		background:#12ab36;
	}
	12%{
		letter-spacing: 1px;
		width:5%;
		background:#ad34bc;
	}
	25%{
		letter-spacing: 2px;
		width:11%;
		background:#ffed12;
	}
	37%{
		letter-spacing: 3px;
		width:19%;
		background:#ef7e51;
	}
	50%{
		letter-spacing: 4px;
		width:25%;
		background:#84dcf1;
	}
	62%{
		letter-spacing: 5px;
		width:30%;
		background:#bffd88;
	}
	75%{
		letter-spacing: 6px;
		width:35%;
		background:#ca842c;
	}
	87%{
		letter-spacing: 7px;
		width:42%;
		background:#1946cb;
	}
	100%{
		letter-spacing: 9px;
		width:50%;
		background:#eacb63;
	}
}
details{
	font-weight: bold;
	margin-top:100px;
	margin-left:20px;
	margin-right:10px;
	font-family:cursive;
}
details>p{
	font-weight: normal;
	font-family:sans-serif;
}
aside h2,.skills h2,.projects>p,.hobbies p,.contact p{
	margin-top:45vh;
}
@media screen and (min-width: 768px)
{
	span{
		display:none;
	}
	nav ul li{
		display:inline-block;
	}
	nav ul{
		display:flex;
		justify-content: space-around;
	}
	nav ul a{
		text-align:center;
	}

	nav li{
		flex: 1 1 0;
	}
	.projects>p{
		max-width: 25%;
	}
}
.hobbies>p{
	font-family: 'Aladin', cursive;
	color:#2319a2;
	font-size:200%;
	margin-left:30%;
	animation: change 4s infinite linear;
	letter-spacing: 8px;
	overflow:hidden;
	background: linear-gradient(to right, #6b209c 0%, #da1538 5%,#1b8c22 10%,#16828c 15%,#841260 20%,#0c59af 25%, #3e1354 32%,#ac16f2 49%,#bb14c1 72%,#716220 81%,#475567 100%);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	margin-bottom: 100px;
}

@keyframes change{
	from{
		width:0%;
	}
	to{
		width:45%;
	}
	
}

.hobbies ul li{
	margin-top:60px;
	margin-bottom: 60px;
	font-family:cursive;
}

.hobbies ul{
	list-style-type:none;
	margin-left:10%; 
}

#list{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

li img{
	width:7%;
	height:5vh;
}
.contact>p{
	margin-left:40%;
	font-family:'satisfy',cursive;
	font-size:250%;
	animation: colour 4s infinite alternate;
	text-shadow:4px 4px 0 #ee125740;
	margin-bottom:100px;
}

@keyframes colour{
	0%{
		color:#22476f;
	}
	25%{
		color:#941818;
	}
	50%{
		color:#353511;
	}
	75%{
		color:#4a731f;
	}
	100%{
		color:#791d76;
	}
}

.contact img{
	height:20vh;
	width:14%;
	margin:5%;
}

.logos{
	display:inline-block;
}
footer{
	text-align:center;
	color:#fff;
	font-family: sans-serif;
	margin-top:20vh;
	padding:10px;
	background:#000;
}

button{
    color: white;
    background: #b5294f;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgb(37,2,37), 2px 2px 8px rgb(37, 2, 37);
    transition: 0.1s; 
    outline:none;
}

button:active{
    transform: translate(0,2px);
}

button a{
	color:#fff;
}
@media screen and (max-width:1000px)
{
	.intro{
		height: 75vh;
	}
}

@media screen and (max-width:768px)
{
	.intro{
		display:none;
	}
	header{
		position:fixed;
		top:0;
	}
	aside h2,.skills h2,.projects>p,.hobbies p,.contact p{
		margin-top:30vh;
	}
	.skills h2{
		margin-top:45vh;
	}
	nav ul{
	    position: fixed;
		top:2.8vw;
		left:0;
	    width:100%;
	    height:100vh;
	    text-align:center;
	    transition: all 0.5s;
	    background:#333;
	}
	nav ul li{
		display:block;
		margin:50px 0;
		line-height: 30px;
	}

	nav ul a{
		font-family:montserrat;
		font-weight: bold;
		font-size:150%;
		font-family: "comic sans ms";
		transition: font-size;
	}
	nav a:hover{
		background:#333;
		color:#eede49;
		font-size:175%;
	}
	nav a:focus{
		background:#333;
		color:#eede49;
		font-size:175%;
	}
	nav a:active{
		background:#941313;
	}
	.intro{
		background-size:100% 50%;
	}
	.skills img{
	width:21%;
	height:14vh;
	}
	li img{
		height:3vh;
	}
	.about img{
		height:25vh;
		margin-bottom: 25px;
		width:42%;
	}
	aside{
		padding-top: 0px;
	}
	.aboutexp{
		width:70%;
	}
	.about{
		flex-direction: column;
		justify-content: space-around;
		margin-left:25%;
	}
	.contact img{
		height:9vh;
	}
	.about p,.projects summary{
		font-size:200%;
	}
	.about abbr{
		font-size:100%;
	}
	.hobbies li,.projects p{
		font-size:225%;
	}
	.projects strong{
		font-size:100%;
	}
	.hobbies>p{
		font-size:400%;
	}
	.skills{
		margin-top:40vh;
	}
	.about{
		margin-top:0;
	}
	.about>p{
		margin-top:20vh;
	}
	.contact>p{
		font-size:450%;
	}
	aside h2,.skills>h2{
		font-size:500%;
		margin-left:20%;
	}
	.projects>p{
		font-size:300%;
	}
	#do{
		margin-top:80px;
	}
	.hobbies li img{
		width:25px;
		height:25px;
	}
	.intro{
		padding-bottom: 100vh;
	}
}
.negative{
	left:-100%;
}
